/* HEADER SECTION */

nav {
    /* Navbar-Background grey */
    background-color: #E8E8E8;
    font-size: large;
    height: 8rem;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_logo {
    height: 60%;
    width: auto;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
}